svg {
  font: 10px sans-serif;
  display: inline-block;
}

.chart-container {
  width: 100%;
}

.chart-container td {
  text-align: center;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path, .axis line {
  fill: none;
  stroke-width: .5px;
}

.x.axis path {
  stroke: #000;
}

.x.axis line {
  stroke: #fff;
  stroke-opacity: .5;
}

.y.axis line {
  stroke: #ddd;
}

path.line {
  fill: none;
  stroke: #000;
  stroke-width: .5px;
}

rect.pane {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.hide {
  display: none !important;
}

.svg-tooltip {
  min-width:10px;
  min-height:10px; 
  position:absolute; 
  z-index:100;
  border:solid 1px #CAC3C3;
  background: white;
  padding: 10px;
}